#[include mmu/base/*.cfg]
#[include mmu/optional/client_macros.cfg]

# this is for the small displays
##[include mmu/optional/mmu_menu.cfg]

[include fluidd.cfg]

[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT


########################################
## pushed to github 11-6-21
########################################

# skew correction
[skew_correction]



# included with kiauh for shell commands
#[include shell_command.cfg]

#[include mainsail.cfg]

#Timelapse 
[include timelapse.cfg]


# Config directory is for the printer config
# each section to one file.  Easier to change, debug, etc.
# 
# pin annotation is used from an alias in the board pin file.
[include config/*.cfg]

# other configs like res testing, klipper expander board, pico's, etc.

[include config-other/nitehawk-sb.cfg]
#[include config-other/klipper_expander.cfg]
#[include config-other/resonance.cfg]
#[include config-other/skirt-buttons.cfg] # skirt button pcb
#[include config-other/hotkey.cfg] # fysetc skirt button pcb
#[include config-other/stealthburner_led_effects_barf.cfg] # rainbow LED
#[include config-other/stealthburner_leds.cfg] # lenon LED


#[include VOC/enviro-sensor.cfg]    # SGP40 sensor
[include VOC/chamber_exhaust_fan.cfg] # plain chamber temp probe
#[include filament-dryer/dehydrator.cfg]    # Si7021 sensor

[save_variables]
  filename: ~/printer_data/config/saved_variables.cfg

[exclude_object]

[force_move]
enable_force_move: true

[respond]
default_type: echo


########################################
# Printer settings
########################################

[printer]
  kinematics: corexy
  max_velocity: 700
  max_accel: 9000
  max_z_velocity: 40
  max_z_accel: 350
  square_corner_velocity: 5.0

[idle_timeout]
  timeout: 400000


[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True  ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 175   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 350   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 20    ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.0   ; the value to retract while PAUSE
variable_cancel_retract   : 5.0   ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 35.0  ; retract speed in mm/s
variable_unretract        : 1.0   ; the value to unretract while RESUME
variable_speed_unretract  : 35.0  ; unretract speed in mm/s
variable_speed_hop        : 15.0  ; z move speed in mm/s
variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : True  ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
# !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract  : False ; use fw_retraction instead of the manual version [True/False]
gcode:

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.268059, 0.251497, 0.248059, 0.276809, 0.236809
#*# 	0.246184, 0.237122, 0.212434, 0.226497, 0.183372
#*# 	0.236184, 0.241184, 0.223997, 0.213372, 0.180559
#*# 	0.261184, 0.255247, 0.239309, 0.236497, 0.211809
#*# 	0.283372, 0.269934, 0.240247, 0.253059, 0.245247
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 310.0
#*# min_y = 20.0
#*# max_y = 310.0
#*#
#*# [skew_correction CaliFlower]
#*# xy_skew = 0.004132060131243067
#*# xz_skew = 0.0
#*# yz_skew = 0.0
