

#####################################################################
#
# here we are using a SHT21 sensor for temp/humidity.
#
#####################################################################



#####################################################################
# 
# SGP 30 VOC sensor
# https://www.adafruit.com/product/3709
#
# SGP 40 VOC sensor
# https://www.adafruit.com/product/4829
#
#####################################################################


# Shell command file to retrieve gas values.
[gcode_shell_command SGP_VOC_VALUE]  
  command: ~/printer_data/config/VOC/get_sgp40.py


# Delayed timer loop to get temp / humidity and pass to shell command
[delayed_gcode SGP_Get_Gas]
  initial_duration: 0
  gcode:
    {% set temp = printer.extruder.temperature %}
    {% set humidity = printer["temperature_fan chamber"].temperature %}
    RUN_SHELL_COMMAND CMD=SGP_VOC_VALUE PARAMS="{temp} {humidity}"
    UPDATE_DELAYED_GCODE ID=SGP_Get_Gas DURATION=5


[gcode_macro SGP_Start]
  description: start loop for gas discovery
  gcode:
    UPDATE_DELAYED_GCODE ID=SGP_Get_Gas DURATION=1    ; value of 1 is used to be more responsive.

 
[gcode_macro SGP_STOP]
  description: stop loop for gas discovery
  gcode:
    UPDATE_DELAYED_GCODE ID=SGP_Get_Gas DURATION=0




#####################################################################
#
# SHT21 temp/humidity sensor
# https://www.adafruit.com/product/2857
#
#####################################################################

#[temperature_sensor chamber_TH]
#sensor_type: SHT21
#i2c_mcu: host         # This is the name of the mcu it's wired to
#i2c_bus: i2c.1
#htu21d_resolution: TEMP14_HUM12
#htu21d_report_time: 5

[gcode_macro QUERY_Chamber_TH]
gcode:
    {% set sensor = printer["htu21d chamber_TH"] %}
    {action_respond_info(
        "Temperature: %.2f C\n"
        "Humidity: %.2f%%" % (
            sensor.temperature,
            sensor.humidity))}



