

#####################################################################
# Heat soak chamber - leave on/off the heater when done
#####################################################################

[gcode_macro HEATSOAK_CHAMBER]
description: Heatsoak chamber to a specific temperature with a timeout
#HEATSOAK_CHAMBER TEMP=50 SOAKTIME=2 COOLDOWN=1
gcode:

    STATUS_HEATING
    {% set TEMP = params.TEMP|default(40)|int %}
    {% set TIME = params.SOAKTIME|default(5)|int %}
    {% set COOLDOWN = params.COOLDOWN|default(0)|int %}

    RESPOND MSG="Heating up Chamber ..."

    # switch part cooling ~80% to cycle air in the chamber
    M106 S204

    # set exhaust fan OFF


    # set bed temp
    #
    # M190 S{SETPOINT_TEMP} or HEATSOAK


    # Solution A):  Manually start when it warms up
    #
    # G28
    # G1 Z10
    # G1 X125 Y125 F6000
    # M140 S110  


    # Solution B): 
    # park and wait for time and temp.  Then set the exhaust fan if the temp is over the limit.
    #
    # M114 S{BedTemp}
    # if chamberTemp < 50C:
    #   set_fan fan=Exhaust speed=0.0
    #   temperature_wait sensor=ChamberTempSensor Temperature=50
    # else if chamberTemp > 60C:
    #   set_fan fan=Exhaust speed=1.0
    #   temperature_wait sensor=ChamberTempSensor Temperature=50


    # Solution C):
    #
    # Set up a PTC-type heater, plugged into HE1 or HE2, etc. 
    # use Klipper to regulate the temp and the exhaust fan to maintain the temp.




    # loops for time (microseconds) and do stuff
    {% for _ in range(1, TIME) %}
        {% set CURRENT_TEMP = printer["temperature_fan chamber"].temperature %}

        {% if CURRENT_TEMP > TEMP %}
          M118 greater than
        {% elif CURRENT_TEMP < TEMP %}
          M118 less than
        {% elif CURRENT_TEMP == TEMP %}
          M118 it equals
        {% endif %}    
    {% endfor %}
    RESPOND MSG="Chamber temperature OK !"


    {% if COOLDOWN %}
        RESPOND MSG="Release Temp."

        # part fan off
        M106 S0

        # bed heater off
        M190 S0

    {% endif %}



#####################################################################
# Heat soak bed - leave on/off when done
#####################################################################

[gcode_macro HEATSOAK_BED]
description: Heatsoak bed at a specified temperature and wait for a specific amount of time
gcode:
    STATUS_HEATING
    {% set SETPOINT_TEMP = params.TEMP|default(0)|int %}
    {% set TIME = params.SOAKTIME|default(8)|int %}
    {% set _COOLDOWN = params.COOLDOWN|default(8)|int %}

    RESPOND MSG="Heating bed..."

    M190 S{SETPOINT_TEMP}

    {% if TIME > 0 %}
        {% for _ in range(1, TIME) %}
            RESPOND MSG="Heatsoak: {_} of {TIME} min"
            G4 P{60000 * 1}
        {% endfor %}
    {% else %}
        RESPOND MSG="No heat soak needed, continue."
    {% endif %}
    
    RESPOND MSG="Bed temperature OK."
    {% if _COOLDOWN %}
      RESPOND MSG="Release Temp."
      M190 S0
    {% endif %}
    STATUS_READY
