[gcode_macro HEATSOAK_CHAMBER]
description: Heatsoak chamber to a specific temperature with a timeout
gcode:
    {% set chamber_sensor_enabled = printer["gcode_macro _USER_VARIABLES_OTHER"].chamber_temperature_sensor_enabled %}

    {% if chamber_sensor_enabled %}
        {% set SETPOINT_TEMP = params.TEMP|default(0)|float %}
        {% set MAXTIME = params.MAXTIME|default(printer["gcode_macro _USER_VARIABLES_OTHER"].print_default_chamber_max_heating_time)|int %}

        {% set verbose = printer["gcode_macro _USER_VARIABLES_OTHER"].verbose %}

        {% for _ in range(1, MAXTIME) %}
            _WAIT_CHAMBER_TEMP TEMP={SETPOINT_TEMP}
        {% endfor %}
        {% if verbose %}
            RESPOND MSG="Chamber temperature OK !"
        {% endif %}
    {% endif %}
    STATUS_READY

[gcode_macro _WAIT_Variable]
variable_count: 60
variable_duration: 2
variable_waiting: False
# Total wait minutes is (duration * count) / 60 
gcode:

[delayed_gcode WAIT_Delayed]
gcode:
    {% set count = printer["gcode_macro _WAIT_Variable"].count|int %}
    {% set duration = printer["gcode_macro _WAIT_Variable"].duration|int %}
    M117 Pre-Print Heatsoaking... {((duration * count) / 60)|round(1)} minutes left.
    SET_GCODE_VARIABLE MACRO=_WAIT_Variable VARIABLE=count VALUE={count-1}
    {% if count > 0 %} _WAIT_Loop  {% endif %}
    {% if count == 0 %} 
        # FINAL ACION
        SET_GCODE_VARIABLE MACRO=_WAIT_Variable VARIABLE=waiting VALUE=False
        M118 Reached the end, do final action
        # FINAL ACION
    {% endif %}

[gcode_macro _WAIT_Loop]
gcode:
    {% set count = printer["gcode_macro _WAIT_Variable"].count|int %}
    {% set duration = printer["gcode_macro _WAIT_Variable"].duration|int %}
    UPDATE_DELAYED_GCODE ID=WAIT_Delayed DURATION={duration}
    {% if  count % 2 == 0 %}
        SET_LED LED=nozzle INDEX=1 RED=.5 GREEN=0 BLUE=0
        SET_LED LED=nozzle INDEX=2 RED=0 GREEN=0 BLUE=.5
      {% else %}
        SET_LED LED=nozzle INDEX=1 RED=0 GREEN=0 BLUE=.5
        SET_LED LED=nozzle INDEX=2 RED=.5 GREEN=0 BLUE=0
    {% endif %}

[gcode_macro WAIT_Start]
gcode:
    {% set MINUTES = params.MINUTES|default(15)|int %}
    {% set duration = printer["gcode_macro _WAIT_Variable"].duration|int %}
    {% set count = (MINUTES * 60) / duration %}
    SET_GCODE_VARIABLE MACRO=_WAIT_Variable VARIABLE=waiting VALUE=True
    SET_GCODE_VARIABLE MACRO=_WAIT_Variable VARIABLE=count VALUE={count}
    UPDATE_DELAYED_GCODE ID=WAIT_Delayed DURATION={duration}

[gcode_macro WAIT_Quit]
gcode:
    {% if printer["gcode_macro _WAIT_Variable"].waiting %}
        M118 STOPPING LOOP, SETTING COUNT TO 0
        SET_GCODE_VARIABLE MACRO=_WAIT_Variable VARIABLE=count VALUE=0
        UPDATE_DELAYED_GCODE ID=WAIT_Delayed DURATION=1
      {% else %}
        M118 Not in waiting state, nothing to do.
    {% endif %}