#####################################################################
#
# before / after layer change.  
# used to set chamber temp, heaters, fan speed, anything we want.
#
#####################################################################


#####################################################################
#
# BEFORE_LAYER_CHANGE 
#
# HEIGHT is in decimal mm.
# LAYER is 0 indexed.
#
#####################################################################
[gcode_macro before_layer_change]
description:  Before Layer Change
    Usage: BEFORE_LAYER_CHANGE HEIGHT=[layer_z] LAYER=[layer_num]
gcode:
    {% set height = params.HEIGHT|default(printer.toolhead.position.z)|float %}
    {% set layer = params.LAYER|default(-1)|int + 1 %}

    {% set TEMP = printer["temperature_fan chamber"].temperature %}
    {% set TARGET = printer["temperature_fan chamber"].target %}

   {% if height >= 0.0 %}    
      # temp is close to setpoint by x degrees then raise the setpoint.
      {% if (TARGET-TEMP) <= 2.0 %}
        SET_TEMPERATURE_FAN_TARGET TEMPERATURE_FAN=chamber TARGET=50
      {% endif %}
    {% endif %}


#####################################################################
#
# after_layer_change 
#
#####################################################################
[gcode_macro after_layer_change]
description: After Layer Change
    Usage: AFTER_LAYER_CHANGE LAYER=[layer_num]
gcode:
    {% set LAYER = params.LAYER|default(-1)|int + 1 %}
    SET_PRINT_STATS_INFO CURRENT_LAYER={LAYER + 1}

