#####################################################################
# Probe
#    # Inductive Probe
#    PRB_1=<DCV>, PRB_2=<GND>, PRB_3=PB7,
#
#    # BL Touch
#    BLT_5=<GND>,
#    BLT_4=<5V>,
#    BLT_CTL=PB6,   # BL Touch servo pin
#    BLT_2=<GND>,
#    BLT_SNSR=PB7,  # BL Touch end stop pin
#####################################################################

##  Inductive Probe
##  This probe is not used for Z height, only Quad Gantry Leveling
[probe]

  #--------------------------------------------------------------------
  ## Select the probe port by type:
  ## For the PROBE port. Will not work with Diode. May need pull-up resistor from signal to 24V.
#  pin: ESTOP3
#  pin: PRB_3 # onboard induction probe mount, 3 is the data.

  ## For the DIAG_7 port. NEEDS BAT85 DIODE! Change to !PG15 if probe is NO.
  pin: ESTOP7
  ## For Octopus Pro PROBE port; NPN and PNP proximity switch types can be set by jumper
  #pin: ~!PC5
  #--------------------------------------------------------------------

  #x_offset: 0
  #y_offset: 25.0
  #z_offset: 0


  ##    Euclid Probe
##  x_offset: -20
  x_offset: 0

##  y_offset: -2.0
  y_offset: 0
  
  # NOP this 
  # manually calibrate Z with PROBE_CALIBRATE

#  z_offset: 1.675   # this value nets 0.12 zoffset to be correct
  z_offset: 0.658
  #2.281   # measured with probe calib

  speed: 5
  samples: 3
  samples_result: median
  sample_retract_dist: 3.0
  samples_tolerance: 0.006
  samples_tolerance_retries: 3
  lift_speed: 30


##
## This G-code will allow you to probe cold, but will also prevent you from probing with a nozzle at printing temperature 
## (to try to preserve your build surface).
##


activate_gcode:
 ## Tap temp probing
 {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}
