#####################################################################
# Probe
#    # Inductive Probe
#    PRB_1=<DCV>, PRB_2=<GND>, PRB_3=PB7,
#
#    # BL Touch
#    BLT_5=<GND>,
#    BLT_4=<5V>,
#    BLT_CTL=PB6,   # BL Touch servo pin
#    BLT_2=<GND>,
#    BLT_SNSR=PB7,  # BL Touch end stop pin
#####################################################################

##  Inductive Probe
##  This probe is not used for Z height, only Quad Gantry Leveling
[probe]

  #--------------------------------------------------------------------
  ## Select the probe port by type:
  ## For the PROBE port. Will not work with Diode. May need pull-up resistor from signal to 24V.
  pin: ESTOP3
  ## For the DIAG_7 port. NEEDS BAT85 DIODE! Change to !PG15 if probe is NO.
  #pin: ESTOP7
  ## For Octopus Pro PROBE port; NPN and PNP proximity switch types can be set by jumper
  #pin: ~!PC5
  #--------------------------------------------------------------------

  #x_offset: 0
  #y_offset: 25.0
  #z_offset: 0


  ##    Euclid Probe
  x_offset: -20
  y_offset: -2.0
  #z_offset: 1.87
  #z_offset: 1.675
  z_offset: 1.542
  speed: 5
  samples: 3
  samples_result: median
  sample_retract_dist: 3.0
  samples_tolerance: 0.006
  samples_tolerance_retries: 3
  lift_speed: 30


