
#####################################################################
## Z0 Stepper Settings - Front Left
##
## Connected to MOTOR_2
## Endstop connected to DIAG_2
#####################################################################

[stepper_z]
step_pin: MOT2_STEP
dir_pin: MOT2_DIR
enable_pin: !MOT2_EN
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
endstop_pin: ESTOP2

##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##  Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
position_endstop: -0.5

##  Uncomment below for 350mm build
position_max: 310

position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: MOT2_CS
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
## Z1 Stepper Settings - Rear Left
##
## Connected to MOTOR_3
#####################################################################

[stepper_z1]
step_pin: MOT3_STEP
dir_pin: !MOT3_DIR
enable_pin: !MOT3_EN
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z1]
uart_pin: MOT3_CS
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
## Z2 Stepper Settings - Rear Right
##
## Connected to MOTOR_4
#####################################################################

[stepper_z2]
step_pin: MOT4_STEP
dir_pin: MOT4_DIR
enable_pin: !MOT4_EN
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: MOT4_CS
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
## Z3 Stepper Settings - Front Right
##
##  Connected to MOTOR_5
#####################################################################

[stepper_z3]
step_pin: MOT5_STEP
dir_pin: !MOT5_DIR
enable_pin: !MOT5_EN
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z3]
uart_pin: MOT5_CS
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
## Gantry Adjustment
##  Use QUAD_GANTRY_LEVEL to level a gantry.
##  Min & Max gantry corners - measure from the nozzle at MIN (0,0) and 
##  MAX (250, 250), (300,300), or (350,350) depending on your printer size
##  to respective belt positions
#####################################################################

[quad_gantry_level]

##  Gantry Corners for 350mm Build
##  Uncomment for 350mm build
gantry_corners:
   -60,-10
   410,420
#  Probe points
points:
   50,25
   50,275
   300,275
   300,25

speed: 300
horizontal_move_z: 15
retries: 5
retry_tolerance: 0.05
max_adjust: 10


#####################################################################
## Homing
##  XY Location of the Z Endstop Switch
##  Update -10,-10 to the XY coordinates of your endstop pin 
##  (such as 157,305) after going through Z Endstop Pin
##  Location Definition step.
#####################################################################

[safe_z_home]
home_xy_position:232,350
speed:100
z_hop:10

