
#####################################################################
#
# SGP 30 VOC sensor
# https://www.adafruit.com/product/3709
#
# SGP 40 VOC sensor
# https://www.adafruit.com/product/4829
#
# feeds from SHT21 temp/humidity sensor
# https://www.adafruit.com/product/2857
#
#####################################################################



#####################################################################
# 
# SGP info
#
#####################################################################


[delayed_gcode SGP_Get_Gas]
initial_duration: 0
gcode:
  RUN_SHELL_COMMAND CMD=SGP_VOC_VALUE    # call shell command
  UPDATE_DELAYED_GCODE ID=SGP_Get_Gas DURATION=5

[gcode_shell_command SGP_VOC_VALUE]
  command: ~/printer_data/config/VOC/get_sgp40.py

[gcode_macro GET_TEMP]
gcode:
    {% set temp = printer.extruder.temperature %}
    {% set humidity = printer["temperature_fan chamber"].temperature %}
    RUN_SHELL_COMMAND CMD=SGP_VOC_VALUE PARAMS="{temp} {humidity}"

[gcode_macro SGP_Start]
  description: get VOC sensor value
  gcode:
    UPDATE_DELAYED_GCODE ID=SGP_Get_Gas DURATION=5
    RUN_SHELL_COMMAND CMD=SGP_VOC_VALUE
  
[gcode_macro SGP_STOP]
  description: STOPS VOC sensor logging
  gcode:
    UPDATE_DELAYED_GCODE ID=SGP_Get_Gas DURATION=0


#####################################################################
#
# SHT21 info
#
#####################################################################

#[temperature_sensor chamber_TH]
#sensor_type: SHT21
#i2c_mcu: host         # This is the name of the mcu it's wired to
#i2c_bus: i2c.1
#htu21d_resolution: TEMP14_HUM12
#htu21d_report_time: 5

[gcode_macro QUERY_Chamber_TH]
gcode:
    {% set sensor = printer["htu21d chamber_TH"] %}
    {action_respond_info(
        "Temperature: %.2f C\n"
        "Humidity: %.2f%%" % (
            sensor.temperature,
            sensor.humidity))}


# read value is 
# {printer["temperature_sensor chamber_TH"].temperature}
# {printer["temperature_sensor chamber_TH"].temperature}


#sensor_type:
#   Must be "HTU21D" , "SI7013", "SI7020", "SI7021" or "SHT21"
#i2c_address:
#   Default is 64 (0x40).
#i2c_mcu:
#i2c_bus:
#i2c_speed:
#   See the "common I2C settings" section for a description of the above parameters.
#htu21d_hold_master:
#   If the sensor can hold the I2C buf while reading. If True no other
#   bus communication can be performed while reading is in progress.
#   Default is False.
#htu21d_resolution:
#   The resolution of temperature and humidity reading.
#   Valid values are:
#    'TEMP14_HUM12' -> 14bit for Temp and 12bit for humidity
#    'TEMP13_HUM10' -> 13bit for Temp and 10bit for humidity
#    'TEMP12_HUM08' -> 12bit for Temp and 08bit for humidity
#    'TEMP11_HUM11' -> 11bit for Temp and 11bit for humidity
#   Default is: "TEMP11_HUM11"
#htu21d_report_time:
#   Interval in seconds between readings. Default is 30

